extends new_layout
block content
	<link rel="stylesheet" href="/user/stylesheets/bootstrap-table.css">
	<script src="/user/javascripts/bootstrap-table.js"></script>
	div.panel.panel-default
		div.panel-body
			h3 Data Dashboard
			div This page allows you to view the data in your account. Click on the links under the Data Types.
				<div id="exampleModal" class="modal fade bs-example-modal-lg" role="dialog">
				<div class="modal-dialog modal-lg">
				<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary okay-button">Delete</button>
				</div>
				</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<div id="typesmain" class="wrapper">
			<div>
			<h5>Data Types</h5>
			ul
				each type in types
					li
						a(href="#" name=type.id)= ' '
			</div>
			<div>
			<h5>Data Records</h5>
			<ul id="id_list"></ul>
			</div>

			<div style="clear:both; width:100%; display:none" id="displayContainer">
			<h5>Data Entry</h5>
			<div id="displayedEntryTitle" name=""></div>
			<div class="table-responsive" >
			<table id="data_table" class="table table-hover" >
			<thead>
			<tr>
			<th>Name</th>
			<th>Value</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
			</div>
			<br/>
			<div class="btn-group btn-group-lg" role="group" aria-label="...">
			<button id="deleteEntryButton" type="button" class="btn btn-danger">Delete</button>

			</div>
			script(type='text/javascript', src="/user/javascripts/md5.js")
			script(type='text/javascript', src="/user/javascripts/data.js")
			link(rel='stylesheet', href='/admin/stylesheets/data.css')

			<input type="hidden" id="session" name="session" value="#{session}">
			<input type="hidden" id="cloudlet" name="cloudlet" value="#{cloudlet}">