extends main-container

block header
    include ./header-navbar.jade

block content
    .error-template.alert.alert-danger(role="alert")
        strong Oops!
        br
        br
        h1= error
    //h2= error.status
    //pre #{error.stack}
