footer#colophon(role='contentinfo')
    .site-info
        <!--  place the Footer here  -->
        block footer
    .site-info
        a(href='/terms/') Terms of service
    .site-info
        a(href='mailto:help@openi-ict.eu') Contact the developer
    .site-info
        a(href='http://www.apache.org/licenses/LICENSE-2.0.html') Apache 2.0
    .site-info
        p Copyright © OPENi 2013