#headergroup
    hgroup
        h1.site-title
            a(href='/user/', title='OPENi', rel='home') OPENi
        // <h2 class="site-description"></h2>
    nav#site-navigation.main-navigation(role='navigation')
        h3.menu-toggle Menu
        a.assistive-text(href='#content', title='Skip to content') Skip to content
        .menu-version1-container
            ul#menu-version1.nav-menu
                li#menu-item-26.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-4.current_page_item.menu-item-26
                    a(href='/user/') #{user}'s Home
                li#menu-item-25.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-23
                    a(id="btn-logout-nav", href='/#') Logout