#headergroup
    hgroup
        h1.site-title
            a(href='/user/', title='OPENi', rel='home') OPENi
        // <h2 class="site-description"></h2>
    nav#site-navigation.main-navigation(role='navigation')
        h3.menu-toggle Menu
        a.assistive-text(href='#content', title='Skip to content') Skip to content
        .menu-version1-container
            ul#menu-version1.nav-menu
                li
                    a(href='/user/') Home
                li
                    a(href='/user/subscriptions') Subscriptions
                li
                    a(href='/user/charts') Analytics
                li
                    a(href='/user/logout') Logout