extends new_layout

block content
    div.panel.panel-default
        div.panel-heading(style="text-align:right")
            div #{user}
        div.panel-body
            h4 Welcome to PEAT
            div PEAT allow you to manage your personal information across many mobile applications and devices.



