doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="Fraunhofer FOKUS - FAME" content="OpenI-Dashboard")
		title= "OpenI Dashboard"
		link(rel="icon" href="/user/favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="/user/favicon.ico" type="image/x-icon")
		<!-- ========================= Cascading Style Sheets ========================= -->
		link(rel='stylesheet', href='/user/stylesheets/bootstrap.min.css')
		link(href='/user/stylesheets/jquery-ui.min.css', rel='stylesheet', media='screen')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		link#twentytwelve-fonts-css(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext', type='text/css', media='all')
		link#twentytwelve-style-css(rel='stylesheet', href='/wp-content/themes/openi/style1bba.css?ver=3.5', type='text/css', media='all')
		//if lt IE 9
			link#twentytwelve-ie-css(rel='stylesheet', href='https://www.openi-ict.eu/wp-content/themes/openi/css/ie.css?ver=20121010', type='text/css', media='all')
		link(rel='stylesheet', href='/user/stylesheets/style.css')
		body.home.page.page-id-4.page-template-default.custom-font-enabled
		#page.hfeed.site
			header#masthead.site-header(role='banner')
				<!--  place Header here  -->
			block header
			// #masthead
		<!--  place the Main Container here  -->
		block main-container
			<!-- ========================= JavaScript ========================= -->
		<!-- Placed at the end of the document so the pages load faster -->
		script(type='text/javascript', src="/user/javascripts/bootstrap.min.js")
		script(type='text/javascript', src="/user/javascripts/jquery-ui.min.js")
		script(type='text/javascript', src="/user/javascripts/main.js")