doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= "OPENi User Dashboard"

        link(rel="icon" href="/user/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="/user/favicon.ico" type="image/x-icon")
        link(rel='stylesheet', href='/user/stylesheets/bootstrap.min.css')
        link(href='/user/stylesheets/jquery-ui.min.css', rel='stylesheet', media='screen')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css')
        link(rel='stylesheet', href='//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        script(src="//code.jquery.com/jquery-1.11.2.min.js")
        script(src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js")
        script(src='//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js')
        script(src='https://code.highcharts.com/highcharts.js')
        script(src="https://code.highcharts.com/modules/data.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

        link#twentytwelve-fonts-css(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext', type='text/css', media='all')
        link#twentytwelve-style-css(rel='stylesheet', href='/wp-content/themes/openi/style1bba.css?ver=3.5', type='text/css', media='all')
        //if lt IE 9
            link#twentytwelve-ie-css(rel='stylesheet', href='https://www.openi-ict.eu/wp-content/themes/openi/css/ie.css?ver=20121010', type='text/css', media='all')
        link(rel='stylesheet', href='/user/stylesheets/style.css')
        link(rel='stylesheet', href='/user/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/user/stylesheets/openi_account.css')
    body

    include ./header-navbar.jade
    block content

        script(type='text/javascript', src="/user/javascripts/bootstrap.min.js")
        script(type='text/javascript', src="/user/javascripts/jquery-ui.min.js")
        script(type='text/javascript', src="/user/javascripts/main.js")
