// Created by dconway on 20/03/15.

extends main-container
block header
    include ./header-navbar.jade
block content
    div.row.clearfix
        h2 Subscribers to your Cloudlet
        div.col-md-4.column

        div.col-md-8.column
            div.list-group
                each sub in JSON.parse(s)
                    div.list-group-item
                        p.list-group-item-text
                        |  <b>Subscriber:</b> #{sub['@id']["_id"].split("/")[0]}

                        p.list-group-item-text
                        |  <b>Type:</b> #{sub['@id'].notification_type}

                        p.list-group-item-text
                        |  <b>Date Created:</b> #{sub['@id']._date_created}
            //div
            //    a(href="addSubscription")
            //        button.btn Add Subscription