extends new_layout

block content
	div.panel.panel-default
		div.panel-heading(style="text-align:right")
			div #{user}
		div.panel-body
			if(error)
				.alert.alert-danger #{error}
			if(newLink)
				.alert.alert-info #{newLink}
			else
				h4 Congratulations and welcome to PEAT
				div Your email is now successful verified and activated to the PEAT-platform.
				div You can now login and access all PEAT-features. 
					a(rel='follow', href='/login') go to login




