@charset "utf-8";
/* OPENi - CSS Document */


/* site-specific styles */
body {
    margin: 0;
    border: 0;
    outline: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #323234;
}

.main_cont {
	width:96%;
	padding:2%;
}


/*********************** container ***********************/
#permconti {
	margin-top: 40px;
}

@media screen and (max-width: 768px) {
	#permconti {
		margin-top: 0px;
	}
}




/*********************** buttons ***********************/

.action_ca {
	width:100%;
	margin-top:10px;
}
/*********************** acc ***********************/

.permissionsDetails{
    display: none;
    font-size: 12px;
}

.moreDetails{
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.acc {
	width:100%;
    background-color: #000000;
	margin-top:10px;
	text-align:left;
	height:90px;
}

.acc_arrow {
	width:41px;
	float:left;
	height:77px;
}


.acc_title {
	/*width:80%;*/
	float:left;
	color:#FFF;
	text-align:left;
	padding-left:5px;
	font-size:22px;
	padding-top:15px;
	height:80px;
}


.acc_title_b {
	width:80%;
	float:left;
	color:#FFF;
	text-align:left;
	padding-left:15px;
	padding-top:10px;
	font-size:22px;
	height:50px;
}


.acc_title_c {
	width:80%;
	float:left;
	color:#FFF;
	text-align:left;
	padding-left:0px;
	font-size:22px;
	padding-top:10px;
	height:65px;
}


.acc_title_d {
	width:80%;
	float:left;
	color:#ffffff;
	text-align:left;
	padding-left:2px;
	font-size:22px;
	height:52px;
	padding-left:2%;
	padding-top:8px;
}


.acc_b {
	width:100%;
	background-image:url('acc_tile.png');
	background-repeat:repeat-x;
	text-align:left;
	height:60px;
}

/*********************** acc cont ***********************/

.acc_cont {
	width:100%;
	background-color:#323234;
	color:#bcbcbc;
}

.contA {
    width: 100%;
    float: left;
    padding: 10px 15px 10px 15px;
    font-size: 17px;
}

.contA .opts{
    font-size: 12px;
}

.contB {
	width:38%;
	float:left;
	padding-right:2%;
	padding-top:1%;
	padding-bottom:2%;
}




/*********************** FOOTER ***********************/

.footer {
	width:100%;
	height:42px;
	float:left;
	border-top-color:#333;
	border-top-style:solid;
	border-top-width:1px;
	margin-top:20px;
}

.f_link01 {
	float:left;
	color:#8f8f8f;
	font-size:18px;
	width:48%;
	text-align:center;
	text-decoration:none;
	border-right-color:#333;
	border-right-style:solid;
	border-right-width:1px;
	margin-top:15px;
}
.f_link01 a {
	color:#8f8f8f;
	text-decoration:none;
}
.f_link01 a:visited {
	color:#8f8f8f;
	text-decoration:none;
}
.f_link01 a:hover {
	color:#8f8f8f;
	text-decoration:none;
	cursor: pointer;

}


.f_link02 {
	float:left;
    color: #428bca;
	font-size:18px;
	width:48%;
	text-align:center;
	text-decoration:none;
	margin-top:15px;
}
.f_link02 a {
    color: #428bca;
	text-decoration:none;
}
.f_link02 a:visited {
    color: #428bca;
	text-decoration:none;
}
.f_link02 a:hover {
    color: #428bca;
	text-decoration:none;
	cursor: pointer;
}



/*********************** header ***********************/

.header {
	width:100%;
	height:42px;
}

.title {
	float:left;
    color: #428bca;
	font-size:26px;
	/*width:150px;*/
	padding-left:15px;
	padding-top:5px;
}

.h_icon {
	float:left;
	height:42px;
	width:42px;
}

.main_action {
	float:right;
	color:#0298ca;
	text-decoration:none;
	padding-top:12px;
	
}
.main_action a:link {
	color:#0298ca;
	text-decoration:none;
}
.main_action a:hover {
	color:#0298ca;
	text-decoration:none;
}
.main_action a:visited {
	color:#0298ca;
	text-decoration:none;
}

/*********************** top ***********************/
.top {
	width:100%;
	height:35px;
	padding-bottom:10px;
	border-bottom-color:#333;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
.sub_title {
	float:left;
	color:#ffffff;
	font-size:22px;
	width:150px;
	padding-top:10px;
}

.sub_title_b {
	float:left;
	color:#0298ca;
	font-size:22px;
	width:150px;
	padding-top:10px;
}
.sub_title_b a:link {
	color:#0298ca;
}
.sub_title_b a:visited {
	color:#0298ca;
}
.sub_title_b a:hover {
	color:#0298ca;
}

/*********************** main section ***********************/

.rv_icon_holder {
	width:100%;
	margin-top:10px;
    background-color:#2b2b2d;
}

.rv_icon {
	width:98%;
	background-image:url('line.png');
	background-repeat:repeat-x;
	background-position:center;
	margin-right:2%;
	background-color:#2b2b2d;
}

.rv_main {
	width:100%;
	background-color:#2b2b2d;
}
.rv_title {
	float:left;
	color:#ffffff;
	font-size:20px;
	width:80%;
	padding-left:13px;
	padding-top:10px;
}
.rv_check {
	float:right;
	color:#0298ca;
	text-decoration:none;
	padding-top:10px;
	padding-right:5px;	
}

.ac_check {
	float:right;
	color:#0298ca;
	text-decoration:none;
	padding-top:18px;
	padding-right:30px;
	
}

.rv_cont {
	width:100%;
	padding-bottom:10px;
}
.rv_text {
	float:left;
	color:#bcbcbc;
	font-size:16px;
	font-weight:lighter;
	width:96%;
	padding-left:13px;
	padding-top:5px;
}
.rv_text01 {
	float:left;
	color:#bcbcbc;
	font-size:16px;
	font-weight:lighter;
	width:100px;
	padding-left:12px;
	padding-top:10px;
	text-align:left;
}


.rv_link {
	padding-left:13px;
	float:left;
	width:96%;
	color:#0298ca;
	text-decoration:none;
	
}
.rv_link a:link {
	color:#0298ca;
	text-decoration:none;
}
.rv_link a:hover {
	color:#0298ca;
	text-decoration:none;
}
.rv_link a:visited {
	color:#0298ca;
	text-decoration:none;
}



.clearfix {
	clear: both;
}


/*********************** cont_main ***********************/
.cont_main {
	width:100%;
}
/***********************  general  ***********************/
.line_break {
	background-image:url('line_break.png');
	background-repeat:repeat-x;
	height:20px;
}



/*********************** check box ***********************/

.cb {
	float:right;
	width:30px;
	height:30px;
}

input[type=checkbox].css-checkbox {
							display:none;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:25px;
							height:20px; 
							display:inline-block;
							line-height:20px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:20px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -20px;
						}
						label.css-label {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				background-image:url('checkbox.png');
			}



/*********************** paddings ***********************/

.pad_T15 {
	padding-top:15px;
}

/*********************** switch ***********************/



.onoffswitch_a {
	width: 66px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	float:right;
}


.onoffswitch {
    position: relative; 
	width: 66px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	padding-top:10px;
	padding-bottom:10px;
	float:left;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > div {
    float: left; position: relative; width: 50%; height: 19px; padding: 0; line-height: 19px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
    padding-left: 9px;
    background-color: #464646; color: #FFFFFF;
}
.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 9px;
    background-color: #464646; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    width: 38px; margin: 0px; text-align: center; 
    border: 0px solid #999999;border-radius: 0px; 
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
    background: #0e88b1; left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
    background: #515151; right: 0;
}
.onoffswitch-active .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; left: 38px; 
    border-style: solid; border-color: #0e88b1 transparent transparent #0e88b1; border-width: 9px 6px;
}
.onoffswitch-inactive .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; right: 38px; 
    border-style: solid; border-color: transparent #515151 #515151 transparent; border-width: 9px 6px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

/**********************************************************************************************************************************/